/* Reset defaults */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   background: #0f1117;
    color: white;
}

/* Content area */

.content {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: #1e2128;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 220px;
}
h2 {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    background: white;
    border-collapse: collapse;
  }

  th, td {
    padding: 12px;
    border-bottom: 1px solid #131212;
    text-align: left;
    color: black;
  }

  button {
    padding: 6px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .in-btn {
    background: #28a745;
    color: white;
  }

  .out-btn {
    background: #dc3545;
    color: white;
  }

  .disabled {
    background: gray !important;
    cursor: not-allowed;
  }