/* Reset defaults */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  background: #0f1117;
    color: white;
}

/* Header */
.plans-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.add-plan-btn {
    background: #ff9d00;
    color: white;
    border: 0;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

/* Cards Layout */
.plans-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card Style (same as your screenshot) */
.plan-card {
    width: 250px;
    padding: 20px;
    margin-left: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.plan-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.plan-card .price {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.plan-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.plan-card li {
    margin: 5px 0;
}

.edit-btn {
    background: #ff7700;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* Popup Form */
.popup.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-box {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
}

.popup-box input,
.popup-box select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.save-btn {
    background: #0abf25;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
}

.close-btn {
    background: #d90000;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
